* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid salmon; */
}

/* div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 */
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #330055;
    overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%23370059' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b005d' cx='50' cy='100' r='50'/%3E%3Cg fill='%233f0161' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23430165' cx='50' cy='200' r='50'/%3E%3Cg fill='%23480169' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c026d' cx='50' cy='300' r='50'/%3E%3Cg fill='%23510271' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23550275' cx='50' cy='400' r='50'/%3E%3Cg fill='%23590279' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%235e027d' cx='50' cy='500' r='50'/%3E%3Cg fill='%23630281' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23670285' cx='50' cy='600' r='50'/%3E%3Cg fill='%236c0289' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2371028d' cx='50' cy='700' r='50'/%3E%3Cg fill='%23760291' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%237b0295' cx='50' cy='800' r='50'/%3E%3Cg fill='%23800299' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2385019d' cx='50' cy='900' r='50'/%3E%3Cg fill='%238a01a1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%238F00A5' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

img {
  max-width: 200px;
}

.btn {
  background: none;
  border: none;
}
.h1iMusic {
  margin: 10px;
  color: #fff;
}

.h1iMusic:hover {
  transform: scale(1.2) rotate(5deg) translate(1px, -10%);
  cursor: pointer;
  transform: matrix(-8);
  transition: 1000ms;
  
}
